{% extends 'adminlte.base.html.twig' %}

{% block avanzu_page_title %}Entrenamiento{% endblock %}
{% block avanzu_page_subtitle %}{{ event.program.title }} - {{ event.startsAt|date('Y-m-d H:i') }}{% endblock %}

{% block custom_page_content %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="ion ion-person-add"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Reservaciones</span>
                    <span class="info-box-number">{{ event.reservations|length }} de {{ event.program.places }}</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: {{ event.reservedPlacesPercent }}%"></div>
                    </div>
                    <span class="progress-description __web-inspector-hide-shortcut__">
                        {% if hasReservation %}
                            Ya tienes la reserva
                        {% elseif event.reservations|length >= event.program.places %}
                            No hay más plazas
                        {% else %}
                            <a class="btn-reservation" href="{{ path('schedule_event_reserve', {id: event.id}) }}" style="color:#fff;">
                                <i class="fa fa-plus"></i> Reserva tu plaza
                            </a>
                        {% endif %}
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Reservas efectuadas</h3>

                    <div class="box-tools pull-right">

                        {% if hasReservation and event.canBeCanceled %}
                            <a href="{{ path('schedule_event_cancel_reservation', {id:event.id}) }}"
                               class="btn btn-sm btn-default btn-cancel-reservation">
                                <i class="fa fa-times"></i> Cancelar reserva
                            </a>
                        {% endif %}
                        {% if isAdmin %}
                        <a href="{{ path('schedule_event_update', {id:event.id}) }}"
                           class="btn btn-sm btn-default btn-update-reservation">
                            <i class="fa fa-pencil"></i> Editar evento
                        </a>
                        <a href="{{ path('schedule_event_drop', {id:event.id}) }}"
                           class="btn btn-sm btn-danger btn-cancel-reservation">
                            <i class="fa fa-trash-o"></i> Eliminar evento
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% if event.reservations|length == 0 %}
                    <div class="box-body">
                        <p>No hay reservas</p>
                    </div>
                {% else %}
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix">
                            {% for reservation in event.reservations %}
                                <li>
                                    {% if vich_uploader_asset(reservation.user, 'imageFile') == "" %}
                                        <img src="/bundles/avanzuadmintheme/img/avatar.png" width="64">
                                    {% else %}
                                        <img src="{{ asset(vich_uploader_asset(reservation.user, 'imageFile')) | imagine_filter('avatar_128x128') }}" alt="{{ reservation.user.shortName() }}" width="64">
                                    {% endif %}
                                    <span class="users-list-name">{{ reservation.user.shortName() }}</span>
                                    <span class="users-list-date">{{ reservation.createdAt|date('Y-m-d') }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
